<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get CRUD</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        .btn-edit {
            outline: none;
            border: none;
            background: orange;
            height: 25px;
            width: 60px;
            border-radius: 3px;
            cursor: pointer;
        }
        .btn-delete {
            outline: none;
            border: none;
            background: red;
            height: 25px;
            width: 60px;
            border-radius: 3px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <table style="width:100%">
        <tr>
            <th>Số điện thoại</th>
            <th>Họ và tên</th>
            <th>Email</th>
            <th>Số định danh cá nhân</th>
            <th>Giới tính</th>
            <th>Ngày sinh</th>
            <th>Địa chỉ thường trú</th>
            <th>Ảnh đại diện</th>
            <th>Quyền hạn</th>
            <th>Hành động</th>
        </tr>
        <% for(let i=0; i < dataTable.length; i++) { %>
            <tr>
                <td><%= dataTable[i].soDienThoai %></td>
                <td><%= dataTable[i].hoTen %></td>
                <td><%= dataTable[i].email %></td>
                <td><%= dataTable[i].soDD %></td>
                <td><%= dataTable[i].gioiTinh %></td>
                <td><%= dataTable[i].ngaySinh %></td>
                <td><%= dataTable[i].dcThuongTru %></td>
                <td><%= dataTable[i].anhDD %></td>
                <td><%= dataTable[i].quyenHan %></td>
                <td>
                    <a href="/edit-crud?id=<%= dataTable[i].id %>" class="btn-edit" type="button">Sửa</a>
                    <a href="" class="btn-delete" type="button">Xóa</a>
                </td>
            </tr>
        <% } %>
        
        </table>
</body>
</html>