<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        a {
            text-decoration: none;
            &:hover {
                color: darkblue;
            }
        }
        .btn-add {
            outline: none;
            border: none;
            background: aquamarine;
            height: 25px;
            width: 60px;
            border-radius: 3px;
            cursor: pointer;
        }
        .btn-edit {
            outline: none;
            border: none;
            background: orange;
            height: 25px;
            width: 60px;
            border-radius: 3px;
            cursor: pointer;
        }
        .btn-delete {
            outline: none;
            border: none;
            background: red;
            height: 25px;
            width: 60px;
            border-radius: 3px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <a href="/add-user" class="btn-add" type="button">Thêm người dùng</a>
    <table style="width:100%; margin-top: 10px;">
        <tr>
            <th>Số điện thoại</th>
            <th>Họ và tên</th>
            <th>Email</th>
            <th>Số định danh cá nhân</th>
            <th>Giới tính</th>
            <th>Ngày sinh</th>
            <th>Địa chỉ thường trú</th>
            <th>Ảnh đại diện</th>
            <th>Quyền hạn</th>
            <th>Hành động</th>
        </tr>
        <% for(let i=0; i < dataTable.length; i++) { %>
            <tr>
                <td><%= dataTable[i].soDienThoai %></td>
                <td><%= dataTable[i].hoTen %></td>
                <td><%= dataTable[i].email %></td>
                <td><%= dataTable[i].soDD %></td>
                <td><%= dataTable[i].gioiTinh %></td>
                <td><%= dataTable[i].ngaySinh %></td>
                <td><%= dataTable[i].dcThuongTru %></td>
                <td><%= dataTable[i].anhDD %></td>
                <td><%= dataTable[i].quyenHan %></td>
                <td>
                    <a href="/edit-user?id=<%= dataTable[i].id %>" class="btn-edit" type="button">Sửa</a>
                    <a href="/delete-user?id=<%= dataTable[i].id %>" class="btn-delete" type="button">Xóa</a>
                </td>
            </tr>
        <% } %>

        <!-- <% dataTable.forEach(function (dataTable) { %>
            <tr>
                <td><%= dataTable.soDienThoai %></td>
                <td><%= dataTable.hoTen %></td>
                <td><%= dataTable.email %></td>
                <td><%= dataTable.soDD %></td>
                <td><%= dataTable.gioiTinh %></td>
                <td><%= dataTable.ngaySinh %></td>
                <td><%= dataTable.dcThuongTru %></td>
                <td><%= dataTable.anhDD %></td>
                <td><%= dataTable.quyenHan %></td>
                <td>
                    <a href="/edit-user?id=<%= dataTable.id %>" class="btn-edit" type="button">Sửa</a>
                    <a href="/delete-user?id=<%= dataTable.id %>" class="btn-delete" type="button">Xóa</a>
                </td>
            </tr>
            <% }) %> -->
        </table>
</body>
</html>